* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  font-family: sans-serif;
  display: flex;
  margin: 2rem 5rem;
  justify-content: space-between;
}
header li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2rem;
  padding: 1rem 0;
}
header .nav-bar p {
  border: 1px solid black;
  border-radius: 0.7rem;
  padding: 1rem 1.3rem;
}
header .logo {
  height: 2.5rem;
  margin-left: 1rem;
}
header .logo img {
  height: 100%;
}
header .nav-bar {
  display: flex;
}
header .nav-bar p:hover {
  cursor: pointer;
  color: grey;
}
header .nav-bar li:hover {
  cursor: pointer;
  color: grey;
}
header .logo:hover {
  cursor: pointer;
  /* color: grey; */
}
.hero-sec {
  display: flex;
  margin: 2rem 5rem;
  justify-content: space-between;
}
.hero-sec .hero-img {
  width: 50%;
  height: 25rem;
  padding: 1rem;
}
.hero-sec .hero-img img {
  height: 100%;
  width: 100%;
}
.hero-sec .hero-desc {
  width: 35%;
  padding: 1rem;
}
.hero-desc h1 {
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
  /* font-family: spacegrotesk; */
  font-family: "Space Grotesk", serif;
}
.hero-desc p {
  font-size: 1rem;
  margin-bottom: 1.2rem;
  font-family: "Space Grotesk", serif;
}
.hero-desc button {
  padding: 0.5rem;
  color: white;
  background-color: #191a23;
  border-radius: 0.5rem;
  /* font-size: 3rem; */
  /* margin-bottom: 1.2rem; */
  font-family: sans-serif;
}
.hero-desc button:hover {
  cursor: pointer;
  background-color: gray;
  color: #000;
}
.logos {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem;
}
.logos img:hover {
  cursor: pointer;
}

.service {
  display: flex;
  margin: 3.5rem 5rem;
}
.service h1 {
  font-size: 1.8rem;
  margin-right: 1.2rem;
  /* font-family: spacegrotesk; */
  font-family: "Space Grotesk", serif;
background-color: #b9ff66;
padding-top: 0.3rem;
padding-left: 0.2rem;
padding-right: 0.2rem;


border-radius: 5px;
}
.service p {
  padding-top: 0.7rem;
  width: 50%;
  font-size: 1rem;
  text-align: justify;
  /* margin-bottom: 1.2rem; */
  font-family: "Space Grotesk", serif;
}
.services{
    display: flex;
    justify-content: space-between;
    margin: 3.5rem 5rem;
    font-family: "Space Grotesk", serif;
}
.services .box-1,.box-2{
    display: flex;
    width: 47%;
  height: 15rem;
  padding: 1rem;
  justify-content: space-between;
/* align-items: center; */
border: 1px solid rgb(14, 14, 12);
border-bottom: 2px solid black;
border-radius: 1.5rem;

}
.services .box-1 .img{
width: 50%;
height: 100%;
}
.services .box-1 .img img{
    width: 80%;
    height: 100%;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* align-self: center; */
}
.services .box-1 .desc{
    width: 35%;
}
.services .box-1 .desc{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services .box-1 .desc .desc-img{
    display: flex;
    padding-left: 0;
} 
p{
    /* display: inline-block; */
    padding-top: 0.5rem;

    
}
.services .box-1 .desc img{
    width: 2.5rem;
}
.services .box-2 .img{
    width: 50%;
    height: 100%;
    }
    .services .box-2 .img img{
        width: 80%;
        height: 100%;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        /* align-self: center; */
    }
    .services .box-2 .desc{
        width: 35%;
    }
    .services .box-2 .desc{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .services .box-2 .desc .desc-img{
        display: flex;
        padding-left: 0;
    } 
    p{
        /* display: inline-block; */
        padding-top: 0.5rem;
    
        
    }
    .services .box-2 .desc img{
      
        width: 2.5rem;
    }
    .services .box-1{
        background-color: #f3f3f3;
    }
    .services .box-2{
        background-color: #b9ff66;
    }
    .services .box-1 .desc h1{
        font-size: 1.3rem;
        background-color: #b9ff66;
    }
    .services .box-2 .desc h1{
        font-size: 1.3rem;
        background-color: #f3f3f3;
    }
    .Accordion {
      display: flex;
      flex-direction: column;
      margin: 3.5rem 5rem;
    }
    .accor1 .accor{
      border: none;
box-shadow: none;
      margin: 0 0;
      background-color: #b9ff66;
      padding: 0.9rem 3rem;
    }
    .accor{
      display: flex;
      justify-content: space-between;
      font-family: "Space Grotesk", serif;
      border: 2px solid black;
      border-radius: 2rem;
      margin: 1rem 0;
      background-color: #f3f3f3;
      padding: 0.9rem 3rem;    
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  
    }
    .accor div{
      display: flex;
    }
    .accor h1{
font-size: 3rem;
    }
    .accor h2{
      font-size: 1.5rem;
      padding-top: 0.8rem;
      margin-left: 1rem;
    }
    .accor img{
      margin-right: 1rem;
      margin-top: 0.5rem;
      height: 3rem;
    }
    .accor1{
      background-color: #b9ff66;
      border-radius: 2rem;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      border: 2px solid #000;
    }
    .accor1 .accor{
      padding: 0.9rem 3rem;

    }
    .accor1 p {
      margin:  0.2rem 2.6rem 0.8rem 2.6rem;
      border-top: 1px solid black;
    }
    .contact{
      display: flex;
      flex-direction: row;
      margin: 3.5rem 5rem;
      border: 1px solid black;
      border-radius: 1.5rem;
      font-family: "Space Grotesk", serif;
      justify-content: space-between;
      background-color: #f3f3f3;
    }
    .contact div{
      /* display: block; */
      margin: 1rem;
    }
    .contact input{
      display: block;
      width: 75%;
      height: 1.5rem;
      margin-top: 0.2rem;
      border-radius: 5px;
      padding-left: 10px ;
    }
    .contact .inputs{
      display: flex;
      flex-direction: column;
      width: 45%;

    }
    .contact .radio{
      display: flex;
    }
    .radio input{
      width: auto;
      margin: 0 1rem;
      padding-left: 0;
    }
    .contact textarea{
      display: block;
      border-radius: 5px;
      padding-left: 10px;
      border: 2px solid black;
      margin-top: 0.2rem;
    }
    .contact .con-img{
      width: 40%;
    height: 27rem;
    margin: 0;
    /* padding-right: 0.2em ; */
 
    }
    .contact .con-img img{
      width: 100%;
      height: 100%;
      padding: 0.4rem;
    }
    .contact button{
    padding: 0.5rem;
    color: white;
    background-color: #191a23;
    border-radius: 0.5rem;
    /* font-size: 3rem; */
    /* margin-bottom: 1.2rem; */
    font-family: sans-serif;
    width: 70%;
      margin: 0.5rem 1rem;
  }
  .contact button:hover {
    cursor: pointer;
    background-color: #f3f3f3;
    color: #000;
  }
  footer{
    display: flex ;
    flex-direction: column;
    font-family: "Space Grotesk", serif;
    margin: 2rem 5rem;
    background-color: #191a23;
    color: #f3f3f3;
    border-radius: 1.5rem;
  }
  .foot-bar {
    /* font-family: sans-serif; */
    display: flex;
    /* margin: 2rem 5rem; */
    justify-content: space-between;
    margin: 1.5rem;
  }
  .foot-bar li {
    text-decoration: underline;
    list-style-type: none;
    display: inline-block;
    margin-right: 2rem;
    padding: 1.5rem 0;
  }
  .foot-bar .nav-bar .social {
    /* border: 1px solid black; */
    border-radius: 0.7rem;
    padding: 1.5rem 1.3rem;
  }
  .foot-bar .nav-bar .social .fa-brands {
margin: 0 0.6rem;
  }
  .foot-bar .logo {
    height: 3rem;
    margin-left: 1rem;
  }
  .foot-bar .logo img {
    height: 100%;
    padding-top: 0.8rem;
  }
  .foot-bar .nav-bar {
    display: flex;
  }
  .foot-bar .nav-bar .fa-brands:hover {
    cursor: pointer;
    color: grey;
  }
  .foot-bar .nav-bar li:hover {
    cursor: pointer;
    color: grey;
    text-decoration: none;
  }
  .foot-bar .logo:hover {
    cursor: pointer;
    /* color: grey; */
  }
  .foot-desc{
    display: flex;
    justify-content: space-between;
    margin: 2.5rem;
    border-bottom: 1px solid grey ;
  }
  .foot-desc .desc{
    width:35%;
  }
  .foot-desc .desc p{
    /* margin-bottom: 1rem; */
    margin: 0 0 1rem 1rem;
  }
  .foot-desc .boxes{
    width: 60%;
    margin: 1rem 3rem 3rem 10rem ;
    border-radius: 10px;
    /* border: 1px solid beige; */
    background-color:	#36454F;
    /* padding: 2rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .boxes input{
    height: 3.5rem;
    width: 15rem;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
    background-color: 	#36454F;
    
  }
  .boxes input::placeholder{
    color: #e3e4f0;
    opacity: 1;
  }
  .boxes button{
    height: 3.5rem;
    width: 15rem;
    border-radius: 10px;
    padding: 10px;
    background-color: #b9ff66;
    border: 1px solid #000;
    color: #191a23;
    
  }
  .boxes button:hover{
    cursor: pointer;
    color: #f3f3f3;
  }
  .foot-desc .bg{
    width: 23%;
    font-weight: bolder;
    background-color: #b9ff66;
    color: #000;
    border-radius: 9px;
    padding: 1px 0 3px 1px;
  }
  footer .copy{
    display: flex;
    margin: 0 2.5rem 1rem 2.5rem;
  }
  .copy .fa-copyright{
    display: block;
    margin-right: 10px;
    padding-top: 10px;
    /* border: 1px solid bisque; */
  }
  .copy p{
padding-bottom: 5px;
/* border: 1px solid bisque; */
  }
  .copy p span{
    text-decoration: underline;
    margin-left: 3rem;
  }
  .copy p span:hover{
    cursor: pointer;
    color: grey;
    text-decoration: none;
  }